<header>
<div class="mHeader">
        <div class="header-wrapper">
                <div id="NameBackdrop"><h4>{{first}}{{last}}</h4></div>
                <h4>{{username}}</h4>
              
            </div>
            <!-- <ejs-calendar></ejs-calendar> -->
            <div id="dateTime"> 
               {{dateTime | date: 'LLL'}}<br>
               {{dateTime | date: 'd'}}
               
            </div>
            
</div>



    <!-- <button style="color: white;" type="submit" [routerLink]="['']" >Logout</button> -->
</header>
