.desc_Container{
  margin-right: 0px !important;
  margin-left: 0px !important;
}

@media(min-width: 992px){ 
    .prod_wrapper{
        width: auto;
        height: 500px;
        overflow-y: scroll;
    }

}

@media(max-width: 480px){ 
    .prod_wrapper{
        width: auto;
        height: 150px;
        overflow-y: scroll;
    }

}

@media(min-width: 600px){ 
    .formNav{
         bottom: 50px !important;  
        }
        .next{ 
            right:20% !important;
            a{
                &:hover{
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
        .back{ 
            right:37% !important;
            a{
                &:hover{
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }

    
    .desc_Container{
        width: 67vw !important;
        padding: 30px !important;
    }

.prodDescPrice_container{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    width: 98%;
    text-align: left;
    @media(min-width: 600px){
        width: 100%;
    }
    .prodDescPrice{
        margin-right: 10%;
        text-align: left;
        width: 25% !important;
        height: auto;
        margin-bottom: 15px;
    }
    .pageHdrs{
        color: #337ab7;
    }
    .desc{ 
        width: 25%;
    }
}
}

.prodInfo{
    color: grey;
}

.addbtn{
    background-color: #FC4F44; 
    border: none; 
    color: white;
    &:hover{
        background-color: rgb(238, 78, 67); 
    }
}
.prodDescPrice_container{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    width: 100%;
    text-align: left;
    .prodDescPrice{
        text-align: left;
        width: 30% !important;
        height: auto;
        // margin-right: 25px;
        margin-bottom: 15px;
        @media(min-width: 600px){
            margin-right: 7%;
        }
    }
    .pageHdrs{
        color: #337ab7;
        margin-right: 40px !important;
    }
    .desc{ 
        width: 30% !important;
        height: auto; 
        overflow-x: scroll;
    }
    .price{
        
    }
    .deleteBtn{
        width: 30px !important;
        @media(min-width: 600px){
            width: 10%;
        }
    }
}

