<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="container row desc_Container">
  <form (submit)="Add(product.value, amount.value, descriptionproduct.value)">
    <div class="col-xs-4">
      <label class="pageHdrs">Product</label>
      <input
        type="text"
        class="form-control"
        placeholder="Product"
        #product
        [(ngModel)]="productclear"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="col-xs-3">
      <label class="pageHdrs">Amount</label>
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <input
          type="text"
          class="form-control "
          id="exampleInputAmount"
          placeholder="2,000/m"
          #amount
          [(ngModel)]="amountclear"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <div class="col-xs-5">
      <label class="pageHdrs">Description</label>
      <input
        type="text"
        class="form-control"
        placeholder="Description"
        #descriptionproduct
        [(ngModel)]="descriptionproductclear"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="row col-xs-12 col-md" style="padding-top: 15px; display:flex; justify-content: center !important;">
        <div style="right: 0px; position: absolute;">
            <!-- <label>Add</label> -->
            <button class="form-control addbtn" placeholder=".col-xs-4"><strong>Add +</strong></button>
        </div>
      
    </div>
  </form>

  <div class="row"></div>
  <br />
  <br />

  <div class="prod_wrapper">
    <div class="prodDescPrice_container">
          <div class="prodDescPrice pageHdrs"><strong>Product</strong></div>
          <div class="prodDescPrice pageHdrs"><strong>Description</strong></div>
          <div class="prodDescPrice pageHdrs"><strong>Price</strong></div>
          <div class="prodDescPrice deleteBtn"></div> 
        </div>
        <div class="" *ngFor="let data of formData">
            <perfect-scrollbar class="scroll-container" fxFlex="auto" [scrollIndicators]="true">
          <div class="prodDescPrice_container scrollable-content">
              <div class="prodDescPrice prodInfo">{{ data.name }}</div>
              <div class="prodDescPrice desc prodInfo">{{ data.description }}</div>
              <div class="prodDescPrice prodInfo">{{ data.amount }}</div>
              <div class="prodDescPrice deleteBtn"><a (click)="onItemDeselect(data)" class="delete"><i class="fa fa-trash"></i></a>
          </div>
          
         
          </div>
        </perfect-scrollbar>
      </div>
  </div>
  


  <div
    class="formNav next"
    style="position: absolute;bottom:15px;right: 37%;padding-bottom: 15px;font-size: 20px;border-bottom: 2px;"
  >
    <a class="next" (click)="nextpage()">Next</a>
  </div>
  <div
    class="formNav back"
    style="position: absolute;bottom:15px;right: 52%;padding-bottom: 15px;font-size: 20px;"
  >
    <a class="next"  (click)="back()">Back</a>
  </div>
</div>
<br />



 <!-- <div style="padding-left: 15px; padding-top: 10px;">
    <b
    col-sm-offset-1
      ><span style="align-content:left">Product Name</span>
      <span style="position: absolute;right: 35%;">Description</span>
      <span style="position: absolute;right: 15%;">Price</span>
      <span style="position: absolute;right: 15px;"></span
    ></b>
  </div> -->
    <!-- <ul class="list-group-item" *ngFor="let data of formData">
      <li class="">
        <span style="align-content:left">{{ data.name }}</span>
        <span style="position: absolute;right: 35%;">{{ data.description }}</span>
        <span style="position: absolute;right: 15%;">{{ data.amount }}</span>
        <span style="position: absolute;right: 15px;">
          <a (click)="onItemDeselect(data)" class="delete"
            ><i class="fa fa-trash"></i></a
        ></span>
      </li>
    </ul> -->