$accentColor: #FC4F44;

.globalBtn{
    color: white ;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    font-size: 17px;
    &:hover{ 
        cursor: pointer;
        color: $accentColor;
        border-bottom: 1px solid $accentColor;
    }
}
.btnDark{ 
    color: black ;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 17px;
    &:hover{ 
        cursor: pointer;
        color: $accentColor;
        border-bottom: 1px solid $accentColor;
    }

}