$PrimaryColor: #212440;

#noProposal{
    color: rgba(128, 128, 128, 0.247);
    text-align: center;
}
#btnAlign{
    position: absolute;
    width: 100vw;
    bottom: 50px;
    text-align:center;
    display: flex;
    justify-content: center;

    @media (min-width: 600px){
      
      width: 70%;
    }
}
label{ 
    margin-top: 2px;
    color: $PrimaryColor;
}
.modalInput{
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.418);
    padding: 3px;
    margin-top: 2px;
}
.inputStyle{
    display: flex;
    flex-direction: column;
}
#myModal{
    top: 37vh;
}
// list generation styling
.ClientName{
    display: flex;
    flex-direction: row;
    width: 100%;
    color: grey;
    app-list-btn{
        position: absolute;
        right: 40px;
    }
}
.list-group-item{ 
    border-bottom: 1px solid rgba(128, 128, 128, 0.071);
    &:hover{ 
        cursor: pointer;
    }
}
.crudBtns{
    background: none;
    border: none; 
    &:hover{ 
        cursor: pointer; 
        color: cornflowerblue;
    }
}
.list-group{
    max-height: 39vh !important;
    height: 55vh !important;
    max-width: 100vw !important;
    width: 100vw !important;
    margin-bottom: 0;
}

#lead-dialog{ 
    width: 171px;
    position: absolute;
    right: 10px;
}
#leadModal{
width: 100vw;
}
.mContain{ 
    display: flex;
    width: 100vw;

}
// document pdf info modal
.mt-5{
    margin-top: 5px;
#mLabel{ 
   color: #5774DB;
}
#websites,#SEO,#Analytics{
        width: 100%;
        border: 1px solid #F2F3F5;
        border-radius: 10px;
    }
}
#cName{
    margin-bottom: 6px;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 0.493);
    height: 35px;
    color: grey;
    padding-left: 15px;
}
.loading{
    color: white;
    padding-top: 50px;
  }
.customPKG_page_Edit{
    display: none;
    padding: 30px;
}


@media(min-width: 600px){ 
    .list-group{
        max-height: 85vh !important;
        height: 85vh !important;
        max-width: 100vw !important;
        width: 100vw !important;
        margin-bottom: 0;
    }
.formNav{
     bottom: 50px !important;  
    }
    .next{ 
        right:20% !important;
        a{
            &:hover{
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
    .back{ 
        right:37% !important;
        a{
            &:hover{
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}
.pagehdr{ 
    color: cornflowerblue;
}
.dropdown-btn{
    border: 1px solid rgba(128, 128, 128, 0.493);
}
.leadLabels{
    font-weight: 400;
    letter-spacing: 1;
    color: grey;
}