<!-- List view iteration -->
<!-- <ejs-calendar></ejs-calendar> -->

<div class="list-group" data-toggle="modal" data-target="#leadModal">
  <ul class="list-group-item" *ngFor="let leads of createLeads"> 
    <li class="ClientName" (click)="callNewModal(leads.mID, leads.mName)">{{leads.mName}}</li> 
  </ul>
</div>

<!-- Universal Button CREATE BTN -->
<div id="btnAlign">
<app-button id="createBtn" btnInfo="Create" name="btnDark" data-toggle="modal" data-target="#myModal"></app-button>
</div>


<!-- **************************** CRUD FUNCTIONS ON LEAD ***************************************** -->
<div class="container mContain">
<!-- CRUD Modal | EDIT | DELETE | CREATE -->
<div class="modal fade" id="leadModal" role="dialog">
  <div class="modal-dialog" id="lead-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- collect selected lead title -->
        <h4 class="modal-title text-left" style="color: cornflowerblue">{{modalName}}</h4>
      </div>
      <div class="modal-body inputStyle">
          <button class="text-left" (click)="edit()">Edit</button>
          <button class="text-left" (click)="leadDelete(leads.mID)" data-dismiss="modal">Delete</button>
          <button class="text-left" data-dismiss="modal" data-toggle="modal" data-target="#createProposal">Create Proposal</button>
      </div>
    </div>
  </div>
</div>

</div>

<!-- **************************** CREATE NEW LEAD ***************************************** -->
<div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center " >Create New Lead</h4>
              </div>
              <div class="modal-body inputStyle">
                  <label for="name">Name:</label>
                <input class="modalInput" type="text"  #nameValue >
                <label for="email">Email:</label>
                <input class="modalInput" type="email"  #emailValue>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-default" data-dismiss="modal" (click)="leadInformation(nameValue.value, emailValue.value)">Submit</button>
              </div>
            </div> 
          </div>
        </div>
      </div>


<!-- **************************** Create New Proposal ***************************************** -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="createProposal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center " >Create Proposal</h4>
          </div>
          <div class="modal-body inputStyle">
              <app-pdf-create></app-pdf-create>


<div class="list-group">
    
        <div class="container mt-5 list-group-item mWeb">
                <label id="mLabel" for="websites">Websites Proposal</label>
                <textarea id="websites" rows="10" placeholder="Customize website proposal" #websiteInfo>
                </textarea> 
        </div>

        <div class="container mt-5 list-group-item mSEO">
                <label id="mLabel" for="SEO">SEO Proposal</label>
                <textarea id="SEO" rows="10" placeholder="Customize website proposal" #SEOInfo>
                </textarea> 
        </div>

        <div class="container mt-5 list-group-item mAnalytics">
                <label id="mLabel" for="Analytics">Analytics Proposal</label>
                <textarea id="Analytics" rows="10" placeholder="Customize website proposal" #analyticsInfo>
                </textarea> 
        </div>

</div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-default" data-dismiss="modal" (click)="CreateProposal(websiteInfo.value, SEOInfo.value, analyticsInfo.value )">Submit</button>
          </div>
        </div> 
      </div>
    </div>
  </div>
      