/* Padding for spacing */
.inner {
    padding: 30px;
  }
  
  .cover {
    padding: 0 20px;
  }
  .cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
  }
.reform{ 
  max-width: 65vw;
  padding: 30px;
}
