<div class="container">

    <input type="email"  [(ngModel)]="productData.email" name="email" placeholder="Enter Email Address...">
 
 
    <input type="password"  [(ngModel)]="productData.password" name="password" placeholder="Password">

 

    <button type="submit" [routerLink]="['/dashboard/create']" >Login</button>

    <a class="btn btn-primary btn-user btn-block" (click)="loginVisitor()">
      Login
    </a>
  
    <button (click)="socialSignIn('google')">Sign in with Google</button>  
    
  </div>

  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="line-scale"
>
  <p style="font-size: 20px; color: white">Loading...</p></ngx-spinner>